
form {
    border-radius: 5px;
    display: grid;
    background-color: lightgrey;
    position: absolute;
    left: 25vw;
    min-width: 50vw;
    width: 50vw;
    box-shadow: 5px 5px black;
}

form label, form input, form textarea{
    padding: 2px;
    margin: 0px 10px;
}

form textarea {
    resize: vertical;
    min-height: 20vh;
    max-height: 40vh;
}

form header{
    text-align: center;
    background-color: rgb(93, 101, 133);
    border-radius: 5px 5px 0px 0px;
}

form button{
    float: right;
    margin: 5px;
}

